.App {
  text-align: center;
}

.score {
  color: white;
}

.search {
  position: relative;
  width: 300px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#loader {
  background-color: #000000;
}

.float {
  display: block;
  position: flex;
  z-index: 20;
  left: 29%;
  top: 1.5%
}

.float2 {
  display: block;
  position: absolute;
  z-index: 20;
  left: 45%;
  top: 5%
}

.leaf {
  height: 700px;
}

.hello {
position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#000000;
}

.ui-card {
  display: none;
}

.location-search-input{
  position: absolute;

  font-family: 'Lato', sans-serif;

  width: 500px;
  height: 40px;
  background: none;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
  color: black;
  font-weight: bold;
  z-index: 20;
  top: 1%

}

.save {
 position: absolute;
 top: 1.75%;
 left: 2.2%;

}

.nav {
  background-color: #303030;
}

.next {
  position: absolute;
  left: 79%;
  top: 1%;
}
.next2 {
  position: absolute;
  left: 86%;
  top: 1%;
}

.input-suggestion{
  font-family: 'Lato', sans-serif;
  width: 500px;
  height: 60px;
  background-color: none;
  border-bottom: 1px black dotted;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.location {
  position: relative;
  height: 700px;
}

.content {
  margin-left: auto;
  margin-right: auto;
  color: azure;
}

.filter {
  position: relative;
  left: 40%
}

.menu {
  background-color: #303030;
  color: white;
}

.plswork {
  height: 500px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
